@import "tailwindcss";
@import "tw-animate-css";

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* Custom Design Tokens */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
}

/* Light theme colors */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
}

/* Dark theme override */
.dark {
  --background: oklch(0.145 0 0);
}

/* Tailwind base reset */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
